$font: 'Source Sans Pro', 'sans-serif';

$fwLight: 300;
$fwMedium: 600;
$fwBold: 700;

$mainColor: #483D8B; // DarkSlateBlue
$altColor: #7B68EE; // MediumSlateBlue
$lightColor: #2E8B57; //SeaGreen

$fastTransition: 0.2s;
$slowTransition: 1s;

// Espacement de base
// On l'utilisera de partout en le multipliant au besoin
$gutter: 0.8rem;