$font: 'Source Sans Pro', 'sans-serif';

$fwLight: 300;
$fwMedium: 600;
$fwBold: 700;

$mainColor: #2F4F4F; // DarkSlateGray
$altColor: #B0C4DE; // LightSteelBlue
$lightColor: #D3D3D3; //LightGray

$fastTransition: 0.2s;
$slowTransition: 1s;

// Espacement de base
// On l'utilisera de partout en le multipliant au besoin
$gutter: 0.8rem;